{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href= "{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'fullcalendar/packages/core/main.css' %}">
    <!--<link href='fullcalendar/packages/core/main.css' rel='stylesheet' />-->

    <link href="{% static 'fullcalendar/packages/daygrid/main.css' %}" rel='stylesheet' />
    <link href="{% static 'fullcalendar/packages/list/main.css' %}" rel='stylesheet' />
    <link href="{% static 'fullcalendar/packages/timegrid/main.css' %}" rel='stylesheet' />

    <script src="{% static 'fullcalendar/packages/core/main.js' %}"></script>

    <script src="{% static 'fullcalendar/packages/daygrid/main.js' %}"></script>
    <script src="{% static 'fullcalendar/packages/list/main.js' %}"></script>
    <script src="{% static 'fullcalendar/packages/timegrid/main.js' %}"></script>
 

    <title>Booking</title>
  </head>

  <body>

  	<form action="/" method="get">
	<span>Welcome, {{ user.first_name }} </span>
	<a href="/signin/logout">Logout</a>
	</form>
	<form action="reserve" target="_blank">
  		<button type="submit" class="btn btn-info" name="btnBook" value="Reserve" data-toggle="modal" href="#book">Reserve</button>
  	</form>

  	<h1>Coworking</h1>
  	<div id='calendar'></div>
  	<h1>Conference Room A</h1>
  	<div id='calendar2'></div>
  	<h1>Conference Room B</h1>
  	<div id='calendar3'></div>
  	<h1>Joined Conf Room</h1>
  	<div id='calendar4'></div>

  	<!--Book Modal--->
              <div class="modal fade" id="book" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Reservation</h4>
                    </div>
                    <div class="modal-body">
                        <form id="regForm" action="">
						  <!-- One "tab" for each step in the form: -->
						  <div class="tab">
						    <div class="container">
							    <div class='col-md-5'>
							        <div class="form-group">
							           <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
							                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker7"/>
							                <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
							                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
							                </div>
							            </div>
							        </div>
							    </div>
							    <div class='col-md-5'>
							        <div class="form-group">
							           <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
							                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker8"/>
							                <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
							                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
							                </div>
							            </div>
							        </div>
							    </div>
							</div>
						  </div>
						  <div class="tab">Booking Info:
						    <p>Purpose: <select id="cars" name="purpose" placeholder="Choose Purpose" oninput="this.className = ''">
										    <option value="volvo">A</option>
										    <option value="saab">B</option>
										    <option value="fiat">C</option>
										    <option value="audi">D</option>
										</select>
							</p>
						    	
						   <!--  <p>Attendees: <input type="text" placeholder="Add Guests" name="search" oninput="this.className = ''" class="fa fa-search">
      									  <button type="submit"><i class="fa fa-search"></i></button> -->
						   </p>

						  </div>
						  <div class="tab">Summary:
						    <p>Booking Reference No.: <input placeholder="Reference No." oninput="this.className = ''" name="refNo"></p>
						    <p>Attendees: <input placeholder="Attendees" oninput="this.className = ''" name="attendees"></p>
						    <p>Facilities: <input placeholder="Facilities" oninput="this.className = ''" name="facilities"></p>
						    <p>Date: <input placeholder="Date" oninput="this.className = ''" name="date"></p>
						    <p>Time: <input placeholder="Time" oninput="this.className = ''" name="time"></p>
						    <p>Cost: <input placeholder="Cost" oninput="this.className = ''" name="cost"></p>
						  </div>
						  <div style="overflow:auto;">
						    <div style="float:right;">
						      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
						      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
						    </div>
						  </div>
						  <!-- Circles which indicates the steps of the form: -->
						  <div style="text-align:center;margin-top:40px;">
						    <span class="step"></span>
						    <span class="step"></span>
						    <span class="step"></span>
						  </div>
						</form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
          <!--END Book Modal-->

             <script>
             	var starts = {{ startDates|safe }};
             	var ends = {{ endDates|safe }};
             	var venues = {{ venues|safe }};
             	var attendees = {{ users|safe }};
             	var userId = "{{ id }}";
             	var event = [];
             	var event2 = [];
             	var event3 = [];
             	var event4 = [];
             	var dictCowork = {};
             	var dictConf = {};
             	var dictSelfCowork = {};
             	var dictSelfConf = {};
             	var dictVenConf = {};

             	for (index = 0, len = starts.length; index < len; ++index) {
             		var att = attendees[index];
             		// console.log('Event: ' + starts[index]);
	             	// console.log('Attendee' + att);
	             	// console.log('User' + userId);
	             	// console.log(att==userId);
         			var now = starts[index];
         			var nowDay = starts[index].substring(0, 10);
		   	    	var nxtday = nowDay;
         			var endDay = ends[index].substring(0, 10);
         			do {
		   	     		nowDay = nxtday;
         				var nowTime = starts[index].substring(11, 19);
         				var endTime = ends[index].substring(11, 19);
         				do {
	       	 				var now = nowDay + " " + nowTime;
	       	 				var num;
	       	 				dictVenConf[now] = venues[index];
	             			if (venues[index] == 'Coworking Space') {
	             				num = parseInt(dictCowork[now]);
	             			} else {
	             				num = parseInt(dictConf[now]);
	             			}
	             			
		            		if (isNaN(num)) {
		            			if (venues[index] == 'Coworking Space') {
			            			dictCowork[now] = 1;
			            		} else {
			            			dictConf[now] = 1;
			             		}
		            		} else {
		            			if (venues[index] == 'Coworking Space') {
			           				dictCowork[now] = num + 1;
			           			} else {
			           				dictConf[now] = num + 1;
			            		}
		            		}
		            		if (venues[index] == 'Coworking Space') {
				       			dictSelfCowork[now] = dictSelfCowork[now] || att ==userId;
			         		} else {
			           			dictSelfConf[now] = dictSelfConf[now] || att == userId;
			           		}
		           			var hrs = parseInt(nowTime.substring(0, 2));
		           			var min = nowTime.charAt(3);
		           			if (min == '3') {
		           				if (hrs < 9) {
			           				nowTime = "0" + (hrs + 1).toString() + ':00:00';
		           				} else {
		             				nowTime = (hrs + 1).toString() + ':00:00';
		             			}
		             		} else {
		             			nowTime = nowTime.substring(0, 3) + '30:00';
		             		}
		           			console.log(now);
		          		} while (nowTime != endTime);
		           		var year = nowDay.substring(0, 4);
		           		var month = nowDay.substring(5, 7);
		           		var day = nowDay.substring(8, 10);
		           		console.log(year + '-' + month + '-' + day);
		           		if ((day == '28' && month == '2' && parseInt(year)%4 == 0) || (day == '29' && month == '2')) {
	            			nxtday = year + '-03-01';
		           		} else if ((day == '30' && (month == '4' || month == '6' || month == '9' || month == '11')) || day == '31') {
	             			if (month != '12') {
	 	          				if (parseInt(month) >= 9) {
		             				nxtday = year + '-' + (parseInt(month) + 1).toString() + '-01';
			          			} else {
		            				nxtday = year + '-0' + (parseInt(month) + 1).toString() + '-01';
		             			}
	             			} else {
	             				nxtday = (parseInt(year) + 1).toString() + '-01-01';
	             			}
	             		} else{
		             		if (parseInt(day) >= 9) {
		             			nxtday = year + '-' + month + '-' +  (parseInt(day) + 1).toString();
			             	} else {
			             		nxtday = year + '-' + month + '-0' + (parseInt(day) + 1).toString();
			           		}
		             	}
	             	} while (nowDay != endDay);	
             	}
             	for (var key in dictCowork) {
             		var value = dictCowork[key];
             		var colAttr = dictSelfCowork[key];
             		var now = key;
	       			var hrs = parseInt(now.substring(11, 13));
	            	var min = now.charAt(14);
	            	if (min == '3') {
	            		if (hrs < 9) {
	             			now = now.substring(0, 12) + (hrs + 1).toString() + ':00:00';
             			} else {
	             			now = now.substring(0, 11) + (hrs + 1).toString() + ':00:00';
		             	}
	             	} else {
	             		now = now.substring(0, 14) + '30:00';
	             	}
	             	var color = "#626bff";
	             	if (colAttr){
	             		color = "#fecc00";

	             	}
	             	console.log(color);
	             	var d = new Date();
	             	d.setFullYear(parseInt(now.substring(0, 4)));
	             	d.setMonth(parseInt(now.substring(5, 7)));
	             	d.setDate(parseInt(now.substring(8, 10)));
	             	if (d.getDay() != 3) {
		             	event.push({
		             		title: 'Seats: ' + (20 - value).toString(),
		             		start: key,
		             		end: now,
		             		backgroundColor: color,
		             	});
		            }
             	}
             	for (var key in dictConf) {
             		var value = dictConf[key];
             		var colAttr = dictSelfConf[key];
             		var ven = dictVenConf[key];
             		var now = key;
	       			var hrs = parseInt(now.substring(11, 13));
	            	var min = now.charAt(14);
	            	if (min == '3') {
	            		if (hrs < 9) {
	             			now = now.substring(0, 12) + (hrs + 1).toString() + ':00:00';
             			} else {
	             			now = now.substring(0, 11) + (hrs + 1).toString() + ':00:00';
		             	}
	             	} else {
	             		now = now.substring(0, 14) + '30:00';
	             	}
	             	var color = "#626bff";
	             	if (colAttr){
	             		color = "#fecc00";

	             	}
	             	console.log(now + ":" + color);
	             	var d = new Date();
	             	d.setFullYear(parseInt(now.substring(0, 4)));
	             	d.setMonth(parseInt(now.substring(5, 7)));
	             	d.setDate(parseInt(now.substring(8, 10)));
	             	console.log(d.getDay())
	             	if (d.getDay() != 3) {
		             	if (ven == "Conference Room A") {
			             	event2.push({
			             		title: 'Reserved',
			             		start: key,
			             		end: now,
			             		backgroundColor: color,
			             	});
			             	event4.push({
			             		title: 'Reserved',
			             		start: key,
			             		end: now,
			             		backgroundColor: color,
			             	});
		             	}
		             	else if (ven == "Conference Room B") {
			             	event3.push({
			             		title: 'Reserved',
			             		start: key,
			             		end: now,
			             		backgroundColor: color,
			             	});
			             	event4.push({
			             		title: 'Reserved',
			             		start: key,
			             		end: now,
			             		backgroundColor: color,
			             	});
		             	} else if (ven == "Joined Conference Room") {
		             		event4.push({
			             		title: 'Reserved',
			             		start: key,
			             		end: now,
			             		backgroundColor: color,
			             	});
			             	event2.push({
			             		title: 'Reserved',
			             		start: key,
			             		end: now,
			             		backgroundColor: color,
			             	});
			             	event3.push({
			             		title: 'Reserved',
			             		start: key,
			             		end: now,
			             		backgroundColor: color,
			             	});
			            }
			        }
             	}
        var today = new Date();
		var dd = String(today.getDate()).padStart(2, '0');
		var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = today.getFullYear();

		today = yyyy + '-' + mm + '-' + dd;
             	// event.push()
      document.addEventListener('DOMContentLoaded', function() {
		  var calendarEl = document.getElementById('calendar');

		  var calendar = new FullCalendar.Calendar(calendarEl, {
		    plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
		    defaultView: 'dayGridMonth',
		    defaultDate: today,
		    header: {
		      left: 'prev,next, today',
		      center: 'title',
		      right: 'dayGridMonth,timeGridWeek,timeGridDay'
		    },


		    events: event,
		  });
		  calendar.render();
		  var calendarEl2 = document.getElementById('calendar2');

		  var calendar2 = new FullCalendar.Calendar(calendarEl2, {
		    plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
		    defaultView: 'dayGridMonth',
		    defaultDate: today,
		    header: {
		      left: 'prev,next, today',
		      center: 'title',
		      right: 'dayGridMonth,timeGridWeek,timeGridDay'
		    },


		    events: event2,
		  });
		  calendar2.render();

		  var calendarEl3 = document.getElementById('calendar3');
		  var calendar3 = new FullCalendar.Calendar(calendarEl3, {
		    plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
		    defaultView: 'dayGridMonth',
		    defaultDate: today,
		    header: {
		      left: 'prev,next, today',
		      center: 'title',
		      right: 'dayGridMonth,timeGridWeek,timeGridDay'
		    },


		    events: event3,
		  });
		  calendar3.render();

		  var calendarEl4 = document.getElementById('calendar4');

		  var calendar4 = new FullCalendar.Calendar(calendarEl4, {
		    plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
		    defaultView: 'dayGridMonth',
		    defaultDate: today,
		    header: {
		      left: 'prev,next, today',
		      center: 'title',
		      right: 'dayGridMonth,timeGridWeek,timeGridDay'
		    },


		    events: event4,
		  });
		  calendar4.render();
		});
    </script>

    

    <!-- Optional JavaScript -->
    <script src="{% static 'js/styles.js' %}"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <script type="text/javascript">
    $(function () {
        $('#datetimepicker7').datetimepicker();
        $('#datetimepicker8').datetimepicker({
            useCurrent: false
        });
        $("#datetimepicker7").on("change.datetimepicker", function (e) {
            $('#datetimepicker8').datetimepicker('minDate', e.date);
        });
        $("#datetimepicker8").on("change.datetimepicker", function (e) {
            $('#datetimepicker7').datetimepicker('maxDate', e.date);
        });
    });
	</script>

  </body>
</html>