{% load static %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href='{% static "booking/css/booking.css"%}'>

    <script type="text/javascript" src='{% static "booking/js/search.js"%}'></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>Attendees
            
              <span class="autocomplete" style="width: 300px;">
                <input autocomplete="off" id="attInput" type="text" name="search" placeholder="Attendee"> 
              </span></div>
            <div id="listOfAttendees" name="attendees">
              <button disabled="true">Remove</button>
              <span>{{ self }}</span>
            </div>
            <input type="text" id="names" name="names" style="visibility:hidden;"> 
            <input type="text" id="ids" name="ids" style="visibility:hidden;">
            <button id="next">Next</button>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var us = {{ users|safe }};
      var self = "{{ self }}";
      autocomplete(document.getElementById("attInput"), us, document.getElementById("listOfAttendees"), document.getElementById("names"), document.getElementById("ids"), self);
    </script>
  </body>
</html>